<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width-device-width, initial-scale1.0">
<title>Document</title>
</head>
<body>
    
</body>
<form action="/logos/novo" method="post">
<div>
<label for="titulo">Titulo:</label>
<input type="text" id="titulo" name="titulo" />
</div> 
<div>
<label for="descricao">Descrição</label>
<input type="text" id="descricao" name="descricao" />
</div>
<div>
<label for="precobase">Precobase:</label>
<input type="number" 1d="precobase" name="precobase" />
</div>
<input type="subalt" value="Cadastrar"/>
</form>
</body>
</htal>